body{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: 0px;
    
 }
 .hidecontent {
    display: none;
}
label{
  
    display: block;    
    padding: 8px 5px;
    margin-top: 10px ;
    cursor: pointer;
    background: #5f75a4;
    color: #FFF;
    text-align: center;
   
}
label:hover{
    background-color: blue;
}

.content {
    text-align: center;

    padding: 10px 25px;
    border: 1px solid #d4d4d4;
}
input:checked +label + .content{
    display: block;
    animation:fadeIn 0.5s ease-out;

}
@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}